@font-face {
    font-family: 'BadScriptRegular';
    src: url('BadScriptRegular.eot');
    src: url('BadScriptRegular.eot?#iefix') format('embedded-opentype'),
        url('BadScriptRegular.woff') format('woff'),
        url('BadScriptRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
