@font-face {
    font-family: 'DS Lemiesz Extended';
    src: url('DSLemieszExtendedExtraBold.eot');
    src: url('DSLemieszExtendedExtraBold.eot?#iefix') format('embedded-opentype'),
        url('DSLemieszExtendedExtraBold.woff2') format('woff2'),
        url('DSLemieszExtendedExtraBold.woff') format('woff'),
        url('DSLemieszExtendedExtraBold.ttf') format('truetype'),
        url('DSLemieszExtendedExtraBold.svg#DSLemieszExtendedExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

